@use './mixins.scss' as *;

:global {
    * {
        padding: 0;
        margin: 0;
        border: none;

        box-sizing: border-box;

        -webkit-tap-highlight-color: transparent;
    }

    html,
    body {
        @include size;
    }

    body {
        font-family: sans-serif;

        background-color: var(--bgColor);
    }
}
